<nav class="main-navigation">
	<ul class="nav-ul">
		<li class="<%= path==='/' ? 'active' : '' %>">
			<a class="homeroute-link" href="/">Home </a>
		</li>

		<li class="<%= path==='/users' ? 'active' : '' %>">
			<a class="userroute-link" href="/users">Users</a>
		</li>
	</ul>
</nav>
